<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
    
    <script src="../../lib/js/vue.js"></script>
    <script src="../../lib/js/axios.min.js"></script>
    <script src="../../lib/js/vue-axios.es5.js"></script>

    <title>Ejemplo api rest con Vue</title>
</head>
<body>

    <div id="app">
        

        <div class="row p-3">
            <div class="col-12">
                <div>
                    <div class="card">
                        <div class="card-header">
                            {{formTitle}}
                        </div>
                       
                        <div class="card-body">
                            <div class="row mx-0">
                                <div class="col-8">
                                    <div class="form-group row align-items-center">
                                        <label for="nombre" class="col-3 mb-0">Nombre</label>
                                        <input type="text" class="form-control col-9" id="nombre"
                                        placeholder="Nombre" v-model="suscrito.nombre">
                                    </div>
                                </div>
                                <div class="col-4 justify-content-end">
                                    <div class="form-group row align-items-center">
                                        <label for="suscritoCorreo" class="col-auto mb-0">Correo</label>
                                        <input type="email" class="form-control col" id="suscritoCorreo"
                                        v-model="suscrito.correo" placeholder="Correo">
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0">
                               
                                <div class="col-4">
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button type="button" @click="saveSuscrito(suscrito)"
                                                class="btn btn-success">
                                                Registrar
                                            </button>
                                            <button type="button" @click="cancelar()"
                                                class="btn btn-danger">
                                                Cancelar
                                            </button>
                                            <button type="button" @click="cerrar()"
                                                class="btn btn-danger">
                                                Cerrar Sesion
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header">
                            Lista de Suscritos
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Correo</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="suscrito in suscritos" :key="suscrito.codigo">
                                        <td>{{suscrito.codigo}}</td>
                                        <td>{{suscrito.nombre}}</td>
                                        <td>{{suscrito.correo}}</td>
                                        <td>
                                            <button type="button" @click="editarSuscrito(suscrito)"
                                            class="btn btn-primary">
                                                Editar
                                            </button>
                                            <button type="button" @click="eliminarSuscrito(suscrito)"
                                            class="btn btn-danger">
                                                Eliminar
                                            </button>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>


  
  
  
    <script>
    
    

  

        var app = new Vue({
            el: '#app',
            data: {
                apiURL: 'http://localhost:8080',
                formTitle: 'Suscribirse',
                suscrito:{codigo:'',
                	nombre:'',
                	correo:''},
                	suscritos:[],
                
                
            },
            created(){
            	
     
            	console.log(localStorage.getItem("token"));
     Vue.axios.defaults.headers.common['Authorization'] ='Bearer '+ localStorage.getItem("token");
     
     
     
     
            },
            mounted() {
                
                this.getSuscritos();
                
            },
            methods: {
            	
                getSuscritos() {
                	Vue.axios.get(this.apiURL + '/suscritos')
                	  .then(response => {
                		  this.suscritos = response.data
                		  console.log(response.data);
                	  }).catch(error => console.log(error))
                	},
                saveSuscrito(suscrito) {
                	
                	
                	
                	if(this.suscrito.codigo===""||this.suscrito.codigo===null){
                	delete	this.suscrito.codigo;
                	console.log(this.suscrito.codigo);
                	}
                
                	Vue.axios.post(this.apiURL + '/suscritos',suscrito)
              	  .then(response => {
              		  console.log(response);
              		  console.log("Registro exitoso");
              		  
              		  this.getSuscritos();
              		  this.cancelar();
              	  }).catch(error => console.log(error))
                    
                   
                },
                eliminarSuscrito(suscrito) {
                	Vue.axios.delete(this.apiURL + '/suscritos/eliminar/'+suscrito.codigo)
                	  .then(response => {
                		  console.log(response);
                		  console.log("Eliminado");
                		  
                		  this.getSuscritos();
                	  }).catch(error => console.log(error))
                	
                	
                	
                    
                },
                editarSuscrito(suscrito) {
                    this.suscrito=suscrito;
                },
                cancelar(){
                	this.suscrito={};
                },cerrar(){
                	localStorage.removeItem('token');
                	
                	window.location='/';
                }
            }
        });
    </script>




   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../lib/js/jquery-3.4.1.min.js"></script>
    <script src="../../lib/js/popper.min.js"></script>
    <script src="../../lib/js/bootstrap.min.js"></script>
</body>
</html>