<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exemplo VueJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        

        <div class="row p-3">
            <div class="col-12">
                <div>
                    <div class="card">
                        <div class="card-header">
                            {{formTitle}}
                        </div>
                        
                        <div>{{suscrito}}</div>
                        <div class="card-body">
                            <div class="row mx-0">
                                <div class="col-8">
                                    <div class="form-group row align-items-center">
                                        <label for="studentName" class="col-3 mb-0">Nombre</label>
                                        <input type="text" class="form-control col-9" id="studentName"
                                        placeholder="Nombre do aluno" v-model="suscrito.nombre">
                                    </div>
                                </div>
                                <div class="col-4 justify-content-end">
                                    <div class="form-group row align-items-center">
                                        <label for="suscritoCorreo" class="col-auto mb-0">Correo</label>
                                        <input type="email" class="form-control col" id="suscritoCorreo"
                                        v-model="suscrito.correo">
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0">
                               
                                <div class="col-4">
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button type="button" @click="saveSuscrito(suscrito)"
                                                class="btn btn-success">
                                                Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header">
                            Lista de Suscritos
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Correo</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(suscrito, index) of suscritos">
                                        <td>{{suscrito.id}}</td>
                                        <td>{{suscrito.nombre}}</td>
                                        <td>{{suscrito.correo}}</td>
                                        <td>
                                            <button type="button" @click="editarSuscrito(suscrito)"
                                            class="btn btn-primary">
                                                Editar
                                            </button>
                                            <button type="button" @click="eliminarSuscrito(suscrito)"
                                            class="btn btn-danger">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>

<!--     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  
  
  
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                apiURL: 'http://localhost:8080',
                formTitle: 'Registrarse como suscrito',
                suscrito:{id:'',
                	nombre:'',
                	correo:''},
                	suscritos:[],
                
                
            },
            mounted() {
                
                this.getSuscritos();
                
            },
            methods: {
            	
                getSuscritos() {
                    $.get(this.apiURL + '/suscritos', {}, function(data, status) {
                        if (data && data.length) {
                            this.suscritos = data;
                        }
                    }.bind(this));
                },
                saveSuscrito(suscrito) {
                	
                	
                	
                	if(this.suscrito.id===""||this.suscrito.id===null){
                	delete	this.suscrito.id;
                	console.log(this.suscrito.id);
                	}
                    var method = 'POST';
                    
                    $.ajax({
                        url: this.apiURL + '/suscritos',
                        type: method,
                        contentType: 'application/json',
                        data : JSON.stringify({id:this.suscrito.id,nombre:this.suscrito.nombre,correo:this.suscrito.correo}),
                        dataType: 'json',
                        success: function(result) {
                        	console.log("Ingrese en success post");
                        	
                           delete this.suscritos;
                        }.bind(this)
                    });
                    this.getSuscritos();
                },
                eliminarSuscrito(suscrito) {
                    $.ajax({
                        url: this.apiURL + '/suscritos',
                        type: 'DELETE',
                        contentType: 'application/json',
                        dataType: 'json',
                        data : JSON.stringify({id:suscrito.id}),
                        success: function(result) {
                            this.getSuscritos();
                        }.bind(this)
                    });
                },
                editarSuscrito(suscrito) {
                    this.suscrito=suscrito;
                }
            }
        });
    </script>
    
    
    
        
</body>
</html>